<p>employ-model-form works!</p>
<form [formGroup]="employForm" (ngSubmit)="onFormSubmit()">
    <table>
        <tr> 
          <td>Employ No:</td>
          <td> 
              <input formControlName="empno">
              <div style="color: red;" *ngIf="employForm.get('empno').invalid &&
               isValidFormSubmitted != null && 
               !isValidFormSubmitted" [ngClass] = "'error'"> 
             Employ No required. 
          </div>

        </td>
        </tr>
        <tr> 
            <td>Employ Name:</td>
            <td> 
                <input formControlName="name">
                <div style="color: red;" *ngIf="employForm.get('name').invalid &&
               isValidFormSubmitted != null && 
               !isValidFormSubmitted" [ngClass] = "'error'"> 
             Employ Name required. 
          </div>

            </td>
        </tr>
        <tr> 
            <td>Employ Department:</td>
            <td> 
                <input formControlName="dept">
                <div style="color: red;" *ngIf="employForm.get('dept').invalid &&
               isValidFormSubmitted != null && 
               !isValidFormSubmitted" [ngClass] = "'error'"> 
             Employ Department required. 
          </div>

            </td>
        </tr>
        <tr> 
            <td>Employ Designation:</td>
            <td> 
                <input formControlName="desig">
                <div style="color: red;" *ngIf="employForm.get('desig').invalid &&
               isValidFormSubmitted != null && 
               !isValidFormSubmitted" [ngClass] = "'error'"> 
             Employ Designation required. 
          </div>

            </td>
        </tr>
        <tr> 
            <td>Employ Basic:</td>
            <td> 
                <input formControlName="basic">
                <div style="color: red;" *ngIf="employForm.get('basic').invalid &&
                   isValidFormSubmitted != null && 
                   !isValidFormSubmitted" [ngClass] = "'error'"> 
                     Employ Basic required. 
                </div>
            </td>
        </tr>
        <tr> 	  
            <td colspan="2">
               <button>Submit</button>
          </tr>	       
    </table>
</form>
<p style="color: green;">{{msg}}</p>